body{
    background-color: rgb(106, 128, 128);
    color: black;
    margin:0px;
    font-family: "Libre Baskerville", serif;
}
header{border:solid 2px rgb(8,8,8);
       padding:8px;
       font-size: 28px;
       color:rgb(8,8,8)
       
}
.chamada{background-color: rgb(106,128,128);
         padding-bottom:80px;
         padding-top:5px;
         display:flex;
         justify-content:center;
        }
        
        .chamada-texto {margin-right:5%;}
        h1{font-size:30px;}
        p{font-size:25px}
        .categoria-videos{
            display:flex;
            overflow-x:auto;
            gap:10px;
            
        }